@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


@media (min-width: 1200px) {

    .home-menu-mobile {
        visibility: hidden;
    }

    html {
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
        background-color: #1E184C;
    }

    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3C3577;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    .home-body {
        padding: 0 2vw;
    }

    .home-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 10vw;
        position: relative;
    }

    .home-logo {
        width: 5vw;
        left: 2vw;
    }

    .home-searchbar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-searchbar .searchbar {
        width: 35vw;
        font-size: 15px;
        border-radius: 1.5vw;
        height: 3vw;
        border: none;
        padding-left: 1.5vw;
        position: relative;
    }

    .home-searchbar form {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .home-searchbar label {
        font-size: 20px;
        position: absolute;
        margin-right: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-menu {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .home-menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 25vw;
        background-color: #3C3577;
        right: 2vw;
        height: 4.5vw;
        border-radius: 20px;
    }

    .home-menu-item a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #fff;
        height: 3vw;
        text-align: center;
    }

    .home-menu-item a p {
        margin: 0;
        font-size: 11px;
        width: 100%;
        white-space: nowrap;
    }

    .home-menu-item a i {
        font-size: 2vw;
    }

    .transportes h3 {
        color: #fff;
    }

    .transportes-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 2vw;
        margin-top: 2vw;
    }

    .transportes-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 20px;
        width: 40vw;
    }

    .transportes-container a {
        text-decoration: none;
        color: #1E184C;
    }


    .transportes-item .img-transporte {
        width: 40vw;
        height: 8vw;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .transporte-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        background-color: #fff;
        font-size: 15px;
        margin-top: 10px;
        width: 100%;
        padding: 0 15px;
        border-radius: 0px 0px 20px 20px;
    }

    .transporte-info img {
        width: 8vw;
    }

    .transporte-info ul {
        list-style-position: inside;
        padding-left: 0;
    }

    .transporte-info p {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
    }

    /* MODAL */

    dialog::backdrop {
        background-color: rgb(0 0 0 / .5);
    }

    dialog {
        position: absolute;
        padding: 0;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 1em rgb(0 0 0 / .3);
        height: 50%;
        padding: 0 2vw;
    }

    #fechar-modal {
        position: absolute;
        right: 10px;
        top: 10px;
        background: #1E184C;
        border-radius: 360px;
        color: #fff;
        font-size: 1.3vw;
        border: none;
    }

    .modal-informacao {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 1vw;
        margin-top: 1vw;
    }

    .motorista {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .motorista p {
        font-size: 1.2vw;
        text-align: left;
        margin: 0vh;
    }

    .motorista img {
        border-radius: 100%;
        width: 8vw;
        height: 8vw;
        object-fit: cover;
        background-color: #1E184C;
    }

    .avaliacao {
        margin-top: 1vw;
        display: flex;
        flex-direction: row;
    }

    .avaliacao i {
        font-size: 1.7vw;
    }

    .vistoria {
        font-weight: bold;
    }

    .motorista-informacoes {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

    }

    .motorista-informacoes p {
        font-size: 1.2vw;
        text-align: left;
        margin: 0.5vh;
    }

    .btn-contato {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #1E184C;
        color: #fff;
        font-size: 1.2vw;
        width: 15vw;
        height: 3vw;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 3vw;
    }

    .btn-contato:hover {
        background-color: #3C3577;
        color: #fff;
        transition: ease-in-out 0.6s;
    }


    /* PERFIL RESPONSAVEL */

    .perfilResponsavel {
        margin-top: 18vh;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    .perfil-container {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 3vw;
    }

    .form-perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 3vw;
    }

    .form-span {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 2vw;
    }

    .fotoPerfil-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .fotoPerfil {
        width: 8vw;
        height: 8vw;
        object-fit: cover;
    }

    .perfil-info-usuario p {
        margin: 0;
        font-size: 25px;
    }

    .perfil-info-usuario-input {
        background: none;
        font-size: 25px;
        width: 30vw;
        color: #fff;
        border: none;
        outline: none;
    }

    .perfil-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vw;
    }

    .span-pai {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .span-data {
        gap: 3vw;
    }

    .span-pai span {
        width: 23vw;
    }

    .span-36 {
        width: 36vw;
    }

    .campo-perfil {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 2vw;
    }

    .campo-perfil input {
        background: none;
        color: #fff;
        border: none;
        outline: none;
    }

    .campo-genero {
        border-style: solid;
        color: #fff;
        padding: 0;
        border-bottom-width: 1px;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        height: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }

    .campo-genero select {
        background: none;
        width: 23vw;
        border: none;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .campo-perfil-data {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 2vw;
        white-space: nowrap;
    }

    .div-salvar {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vw;
    }

    .div-salvar input {
        border: none;
        width: 12vw;
        height: 2.5vw;
        border-radius: 1vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .salvar button {
        border: none;
        width: 12vw;
        height: 2.5vw;
        border-radius: 1vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vw;
        margin-left: -1vw
    }
}

@media (max-width: 520px) {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
        background-color: #1E184C;
    }

    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3C3577;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    .home-body {
        padding: 0;
    }

    .home-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 20vw;
        position: relative;
    }

    .home-logo {
        width: 15vw;
    }

    .home-searchbar {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .home-searchbar .searchbar {
        width: 60vw;
        font-size: 15px;
        border-radius: 1vw;
        height: 10vw;
        border: none;
        position: relative;
    }

    .home-searchbar label {
        font-size: 20px;
        position: absolute;
        margin-right: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-menu {
        visibility: hidden;
    }

    .home-menu-mobile {
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }

    .home-menu-container-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #3C3577;
        height: 20vw;
        border-radius: 20px 20px 0px 0px;
    }

    .home-menu-container {
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 25vw;
        background-color: #3C3577;
        right: 2vw;
        height: 4.5vw;
        border-radius: 20px;
    }

    .home-menu-item a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        height: 3vw;
        text-align: center;
    }

    .home-menu-item a p {
        margin: 0;
        font-size: 16px;
        width: 100%;
        white-space: nowrap;
    }

    .home-menu-item a i {
        font-size: 8vw;
    }

    .transportes h3 {
        color: #fff;
    }

    .transportes-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 2vw;
        margin-top: 2vw;
    }

    .transportes-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 20px;
    }

    .transportes-container a {
        text-decoration: none;
        color: #1E184C;
    }

    .swiper-wrapper {
        gap: 50vw;
    }

    .transportes-item .img-transporte {
        width: 60vw;
        height: 8vw;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .transporte-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        background-color: #fff;
        font-size: 15px;
        margin-top: 10px;
        width: 100%;
        padding: 0 15px;
        border-radius: 0px 0px 20px 20px;
    }

    .transporte-info img {
        width: 8vw;
    }

    .transporte-info ul {
        list-style-position: inside;
        padding-left: 0;
    }

    .transporte-info p {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
    }

    /* MODAL */

    dialog::backdrop {
        background-color: rgb(0 0 0 / .5);
    }

    dialog {
        position: absolute;
        padding: 0;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 1em rgb(0 0 0 / .3);
        height: 50%;
        padding: 0 2vw;
    }

    #fechar-modal {
        position: absolute;
        right: 10px;
        top: 10px;
        background: #1E184C;
        border-radius: 360px;
        color: #fff;
        font-size: 5vw;
        border: none;
    }

    .modal-informacao {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 1vw;
        margin-top: 1vw;
    }

    .motorista {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .motorista p {
        font-size: 4vw;
        text-align: left;
        margin: 0;
    }

    .motorista img {
        border-radius: 100%;
        width: 30vw;
        height: 20vw;
        object-fit: cover;
        background-color: #1E184C;
    }

    .avaliacao {
        margin-top: 1vw;
        display: flex;
        flex-direction: row;
    }

    .avaliacao i {
        font-size: 1.7vw;
    }

    .vistoria {
        font-weight: bold;
    }

    .motorista-informacoes {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

    }

    .motorista-informacoes p {
        font-size: 3vw;
        text-align: left;
        margin: 0.5vh;
    }

    .btn-contato {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #1E184C;
        color: #fff;
        font-size: 1.2vw;
        width: 30vw;
        height: 3vw;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 3vw;
    }

    .btn-contato:hover {
        background-color: #3C3577;
        color: #fff;
        transition: ease-in-out 0.6s;
    }

}